- content_for(:html_title, 'USERS')
- content_for(:stylesheet_pack_tag, stylesheet_pack_tag('users', 'data-turbolinks-track':'reload'))
- content_for(:javascript_pack_tag, javascript_pack_tag('users', 'data-turbolinks-track':'reload', 'defer':'defer'))